<div class="wrapper">
    <section class="section section-lg">
      <div class="container-fluid text-center">
        <div class="row  ">
  
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row infoAbout">

                    <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1 class="infoAbouttext">  بجودة القدس المنبثقة من قلب القدس , يابوس هو أول راديو مجتمعي لدعم الرواد و صمودهم فى المدينة . </h1>
                    </div>

                    <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1  class="infoAbouttext">  محطتنا مستقلة وغير مسيسة , و هناك إعلانات تجارية . </h1>
                    </div>


                    <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1  class="infoAbouttext">    برامجنا اجتماعية , ثقافية , تعليمية , ترفيهية , كلها برامج قصيرة , أخبارنا الاجتماعية و الثقافية تنبع من إطار معتدل و متوازن لتحفيز الشباب على تولى القيادة     </h1>
                        <h1  class="infoAbouttext"> و العمل مع نشر مفاهيم الحرية و العيش بكرامة لتعزيز قيمة الإنسان و المكان فى مدينتنا الحبيبة .</h1>
                    </div>



                    <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1  class="infoAbouttext"> <span class="eng">Yaboos FM  </span>  هي مواطن لكل ملاذ بلدي ولها وسائل الإعلام من القدس إلي جميع أنحاء العالم وكل المساحة التي نذيعها إلى أصوات مقدساتها      </h1>
                        <h1  class="infoAbouttext">  بعيدا عن وسائل الإعلام , صوت من الأرض إلي سما .</h1>
                    </div>


                    <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1  class="infoAbouttext">  <span class="eng">Yaboos FM  </span>  من القدس و جميع محبي القدس    .  </h1>
                    </div>
                
                </div>
                
            </div>
  
       
  
  
     
        </div>
      </div>
  
  
  
  
    </section>
  </div>