.section-lg{
    background-image: url('../../assets/img/aboutus.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
}
.infoAbout{
    margin-top: 18%;
    float: right;

}
h1 {
    font-family: ArabicMd !important;
    font-size: 15px;
    float: right !important;
    direction: rtl;
    margin-top: -8px;
    margin-right: -50px;

}
.eng{
    font-family: Enbold !important;
    font-size: 15px;
    float: right !important;
    direction: rtl;
    margin-left: 5px !important;
}